include mixin.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="")
        meta(name="keywords" content="")
        title АБК - Активные Бизнес Консультации, независимая оценочная компания
    body
        header.container
            .head-foot
                .head-foot__logo.logo_blue ABK
                .head-foot__menu
                    nav.menu
                        a(href="#").menu__item О компании
                        a(href="#").menu__item Отрасли
                        a(href="#").menu__item Гарантии
                        a(href="#").menu__item Схема работы
                        a(href="#").menu__item Контакты
                .head-foot__svyz.svyz
                    .svyz__tel +7 (495) 134-47-55
                    .svyz__soc
                        a(href="#")
                            img(src="../img/whatsapp.png", alt="logo whatsapp").svyz_soc__logo
                        a(href="#")
                            img(src="../img/viber.png", alt="logo viber")
                        a(href="#")
                            img(src="../img/vk.png", alt="logo vk")
                        a(href="#")
                            img(src="../img/facebook.png", alt="facebook logo").svyz_soc__logo
                        a(href="#")
                            img(src="../img/instagram.png", alt="instagram logo").svyz_soc__logo
                button(type="button").head-foot__btn.btn Оставить заявку
        sectio.main.container
            .main__pic
                img(src="../img/main.png", alt="pic")
                a(href="#").main__pic__title Оценка векселей#[br]и облигаций
                a(href="#").main__pic__title Оценка коммерческой#[br]недвижимости
                a(href="#").main__pic__title Переоценка основных средств#[br](РСБУ и МСФО)
                a(href="#").main__pic__title Оценка воздушных#[br]и морских судов
                a(href="#").main__pic__title Оценка бизнеса
                a(href="#").main__pic__title Оценка в целях оспаривания#[br]кадастровой  стоимости неджимости
                a(href="#").main__pic__title Оценка земельных#[br]участков
                a(href="#").main__pic__title Оценка транспортных#[br]средств
                a(href="#").main__pic__title Оценка товарного#[br]знака и патентов
                a(href="#").main__pic__title Оценка оборудования
                a(href="#").main__pic__title Оценка бренда#[br]и деловой репутации