include mixin.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="")
        meta(name="keywords" content="")
        title АБК - Активные Бизнес Консультации, независимая оценочная компания
    body
        header.container
            .head-foot
                .head-foot__logo.logo_blue ABK
                .head-foot__menu
                    nav.menu
                        a(href="#").menu__item О компании
                        a(href="#").menu__item Отрасли
                        a(href="#").menu__item Гарантии
                        a(href="#").menu__item Схема работы
                        a(href="#").menu__item Контакты
                .head-foot__svyz.svyz
                    .svyz__tel +7 (495) 134-47-55
                    .svyz__soc
                        a(href="#")
                            img(src="../img/whatsapp.png", alt="logo whatsapp").svyz_soc__logo
                        a(href="#")
                            img(src="../img/viber.png", alt="logo viber")
                        a(href="#")
                            img(src="../img/vk.png", alt="logo vk")
                        a(href="#")
                            img(src="../img/facebook.png", alt="facebook logo").svyz_soc__logo
                        a(href="#")
                            img(src="../img/instagram.png", alt="instagram logo").svyz_soc__logo
                button(type="button").head-foot__btn.btn Оставить заявку
        sectio.main.container
            .main__pic
                img(src="../img/main.png", alt="pic")
                a(href="#").main__pic__title Оценка векселей#[br]и облигаций
                a(href="#").main__pic__title Оценка коммерческой#[br]недвижимости
                a(href="#").main__pic__title Переоценка основных средств#[br](РСБУ и МСФО)
                a(href="#").main__pic__title Оценка воздушных#[br]и морских судов
                a(href="#").main__pic__title Оценка бизнеса
                a(href="#").main__pic__title Оценка в целях оспаривания#[br]кадастровой  стоимости неджимости
                a(href="#").main__pic__title Оценка земельных#[br]участков
                a(href="#").main__pic__title Оценка транспортных#[br]средств
                a(href="#").main__pic__title Оценка товарного#[br]знака и патентов
                a(href="#").main__pic__title Оценка оборудования
                a(href="#").main__pic__title Оценка бренда#[br]и деловой репутации
        section.otrasli.container
            .title-block.otrasli__title
                h2.title-block__title
                    +spr('tire', 60, 4)
                    | Когда поможем?
                p.title-block__text Причин возникновения необходимости оценки активов множество. За 14 лет практики мы накопили опыт в решении каждой из них
            .otrasli__container
                .otrasli__item
                    h3.otrasli__item__title Купля-продажа активов
                    p.otrasli__item__text Определение возможной стоимости актива для оформления сделки. Обоснование цены продажи/покупки для третьих лиц
                .otrasli__item
                    h3.otrasli__item__title.sud Судебные споры
                    p.otrasli__item__text Досудебная оценка как доказательство#[br]в суде. Судебная оценка/экспертиза активов по решению суда. Защита результатов в суде
                .otrasli__item
                    h3.otrasli__item__title.oc Оценка кадастровой стоимости
                    p.otrasli__item__text Успешное оспаривание кадастровой стоимости с целью снижения налогообложения для юридических и физических лиц
                .otrasli__item
                    h3.otrasli__item__title.zal Залог в банке
                    p.otrasli__item__text Подготовка отчета по оценке актива, подлежащего залогу и защита#[br]результатов в банке#[br]#[br]
                .otrasli__item
                    h3.otrasli__item__title.iz Иьятие/раздел/выкуп активов
                    p.otrasli__item__text Расчет и обоснование стоимости имущества, в случае изъятия, раздела, выкупа#[br]#[br]
                .otrasli__item
                    h3.otrasli__item__title.ush Определение ущерба
                    p.otrasli__item__text Обоснование стоимости нанесённого ущерба при действиях или бездействиях виновных#[br]#[br]
            button(type="button").otrasli__btn.btn Заказать услугу
        section.garantii
            .container
                .title-block.garantii__title
                    h2.title-block__title
                        +spr('tire', 60, 4)
                        | Мы достойны!
                    p.title-block__text Имеем знания, право, и опыт!#[br] «Удобный консультант» –#[br]наше призвание на рынке.
                .garantii__container
                    .garantii__item
                        img(src="../img/r.png", alt="icon")
                        .garantii__item__text ВСЕ ПРАВА ДЛЯ ОСУЩЕСТВЛЕНИЯ#[br]ОЦЕНОЧНОЙ ДЕЯТЕЛЬНОСТИ
                    .garantii__item
                        img(src="../img/chess.png", alt="icon")
                        .garantii__item__text 14 ЛЕТ НА РЫНКЕ
                    .garantii__item.pt4
                        img(src="../img/conv.png", alt="icon")
                        .garantii__item__text 32 СЕРТИФИЦИРОВАННЫХ ОЦЕНЩИКА
                    .garantii__item
                        img(src="../img/group.png", alt="icon")
                        .garantii__item__text ЧЛЕНЫ СРО#[br]“РОССИЙСКОЕ#[br]ОБЩЕСТВО ОЦЕНЩИКОВ”
                    .garantii__item
                        img(src="../img/russia.png", alt="icon")
                        .garantii__item__text 12 ПРЕДСТАВИТЕЛЬСТВ ПО ВСЕЙ РОССИИ
                    .garantii__item
                        img(src="../img/graf.png", alt="icon")
                        .garantii__item__text РЕЙТИНГИ ЭКСПЕРТ РА#[br]– 2009-2016 гг
                    .garantii__item.mt-8
                        img(src="../img/fire.png", alt="icon")
                        .garantii__item__text АККРЕДИТОВАНЫ ПО#[br]ОЦЕНКЕ  В ПАО ГАЗПРОМ
                    .garantii__item.mt-4
                        img(src="../img/euro.png", alt="icon")
                        .garantii__item__text СТРАХОВАНИЕ КОМПАНИИ БОЛЕЕ ЧЕМ НА 500 МЛН РУБ
    section.worck.container
        .title-block.worck__title
            h2.title-block__title
                +spr('tire', 60, 4)
                | Порядок работы:
            p.title-block__text Мы сделаем процесс оценки#[br]для вас — удобным, быстрым и точным!
        .etapi
            img.etapi__img(src="../img/etap.png", alt="pic")
            ul.etapi__list.list
                li.list__item
                    span.list__num 1
                    span.list__text Заключаем договор
                li.list__item
                    span.list__num 2
                    span.list__text Учтем тонкости и#[br]пожелания
                li.list__item
                    span.list__num 3
                    span.list__text Согласуем результаты
                li.list__item
                    span.list__num 4
                    span.list__text Подготовим#[br]отчет об оценке,
                li.list__item
                    span.list__num 5
                    span.list__text Защитим результаты#[br]в суде, банках, налоговой
        button(type="button").btn Заказать услугу
    section.clienti
        .container
            .title-block.clienti__title
                h2.title-block__title
                    +spr('tire', 60, 4)
                    | Нам доверили оценку:
                p.title-block__text За 14 лет уже более 4 тыс. клиентов и партнеров!
            .clienti__container
                    .clienti__item
                        img(src="../img/logo_bryan.png", alt="logo")
                    .clienti__item
                        img(src="../img/logo_rosgos.png", alt="logo")
                    .clienti__item
                        img(src="../img/logo_gaz.png", alt="logo")
                    .clienti__item
                        img(src="../img/logo_rosnef.png", alt="logo")
                    .clienti__item
                        img(src="../img/logo_vtb.png", alt="logo")
                    .clienti__item
                        img(src="../img/logo_sber.png", alt="logo")
                    .clienti__item
                        img(src="../img/logo_rosa.png", alt="logo")
                    .clienti__item
                        img(src="../img/logo_gaza.png", alt="logo")
                    .clienti__item
                        img(src="../img/logo_mia.png", alt="logo")
                    .clienti__item
                        img(src="../img/logo_ural.png", alt="logo")
                    .clienti__item
                        img(src="../img/logo_alfa.png", alt="logo")
                    .clienti__item
                        img(src="../img/logo_veb.png", alt="logo")
                    .clienti__item.mt
                        img(src="../img/logo_sel.png", alt="logo")
                    .clienti__item.mt
                        img(src="../img/logo_gazb.png", alt="logo")

