include mixin.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="")
        meta(name="keywords" content="")
        link(rel="stylesheet", href="main.css")
        title АБК - Активные Бизнес Консультации, независимая оценочная компания
    body
        header.container
            .head-foot
                .head-foot__logo.logo_blue ABK
                .head-foot__menu
                    +spr('bur', '48px')(fill="#000").menu-gamb
                    nav.menu
                        a(href="#").menu__item О компании
                        a(href="#").menu__item Отрасли
                        a(href="#").menu__item Гарантии
                        a(href="#").menu__item Схема работы
                        a(href="#").menu__item Контакты
                .head-foot__svyz.svyz
                    .svyz__tel +7 (495) 134-47-55
                    .svyz__soc
                        a(href="#")
                            img(src="../img/whatsapp.png", alt="logo whatsapp").svyz_soc__logo
                        a(href="#")
                            img(src="../img/viber.png", alt="logo viber")
                        a(href="#")
                            img(src="../img/vk.png", alt="logo vk")
                        a(href="#")
                            img(src="../img/facebook.png", alt="facebook logo").svyz_soc__logo
                        a(href="#")
                            img(src="../img/instagram.png", alt="instagram logo").svyz_soc__logo
                .head-foot__btn
                    button(type="button").btn.zayv Оставить заявку
        section.main.container
            .main__pic
                img.main__pic_img(src="../img/main.png", alt="pic")
                .main__pic__text
                    .main__pic__title.t-1 Оценка векселей#[br]и облигаций
                    .main__pic__table
                        img(src="../img/table_vex.png", alt="table")
                .main__pic__text
                    .main__pic__title.t-2 Оценка коммерческой#[br]недвижимости
                    .main__pic__table
                        img(src="../img/table_ned.png", alt="table")
                .main__pic__text
                    .main__pic__title.t-3 Переоценка основных средств#[br](РСБУ и МСФО)
                    .main__pic__table
                        img(src="../img/table_pereoc.png", alt="table")
                .main__pic__text
                    .main__pic__title.t-4 Оценка воздушных#[br]и морских судов
                    .main__pic__table
                        img(src="../img/table_avia.png", alt="table")
                .main__pic__text
                    .main__pic__title.t-5 Оценка бизнеса
                    .main__pic__table
                        img(src="../img/table_biz.png", alt="table")
                .main__pic__text
                    .main__pic__title.t-6 Оценка в целях оспаривания#[br]кадастровой  стоимости неджимости
                    .main__pic__table
                        img(src="../img/table_kad.png", alt="table")
                .main__pic__text
                    .main__pic__title.t-7 Оценка земельных#[br]участков
                    .main__pic__table
                        img(src="../img/table_zem.png", alt="table")
                .main__pic__text
                    .main__pic__title.t-8 Оценка транспортных#[br]средств
                    .main__pic__table
                        img(src="../img/table_trans.png", alt="table")
                .main__pic__text
                    .main__pic__title.t-9 Оценка товарного#[br]знака и патентов
                    .main__pic__table
                        img(src="../img/table_tov.png", alt="table")
                .main__pic__text  
                    .main__pic__title.t-10 Оценка оборудования
                    .main__pic__table
                        img(src="../img/table_obor.png", alt="table")
                .main__pic__text
                    .main__pic__title.t-11 Оценка бренда#[br]и деловой репутации
                    .main__pic__table
                        img(src="../img/table_brend.png", alt="table")
        section.otrasli.container
            .title-block.otrasli__title
                h2.title-block__title
                    +spr('tire', 60, 4)
                    | Когда поможем?
                p.title-block__text Причин возникновения необходимости оценки активов множество. За 14 лет практики мы накопили опыт в решении каждой из них
            .otrasli__container
                .otrasli__item
                    h3.otrasli__item__title Купля-продажа активов
                    p.otrasli__item__text Определение возможной стоимости актива для оформления сделки. Обоснование цены продажи/покупки для третьих лиц
                .otrasli__item
                    h3.otrasli__item__title.sud Судебные споры
                    p.otrasli__item__text Досудебная оценка как доказательство#[br]в суде. Судебная оценка/экспертиза активов по решению суда. Защита результатов в суде
                .otrasli__item
                    h3.otrasli__item__title.oc Оценка кадастровой стоимости
                    p.otrasli__item__text Успешное оспаривание кадастровой стоимости с целью снижения налогообложения для юридических и физических лиц
                .otrasli__item
                    h3.otrasli__item__title.zal Залог в банке
                    p.otrasli__item__text Подготовка отчета по оценке актива, подлежащего залогу и защита#[br]результатов в банке#[br]#[br]
                .otrasli__item
                    h3.otrasli__item__title.iz Иьятие/раздел/выкуп активов
                    p.otrasli__item__text Расчет и обоснование стоимости имущества, в случае изъятия, раздела, выкупа#[br]#[br]
                .otrasli__item
                    h3.otrasli__item__title.ush Определение ущерба
                    p.otrasli__item__text Обоснование стоимости нанесённого ущерба при действиях или бездействиях виновных#[br]#[br]
            button(type="button").otrasli__btn.btn.zayv Заказать услугу
        section.garantii
            .container
                .title-block.garantii__title
                    h2.title-block__title
                        +spr('tire', 60, 4)
                        | Мы достойны!
                    p.title-block__text Имеем знания, право, и опыт!#[br] «Удобный консультант» –#[br]наше призвание на рынке.
                .garantii__container
                    .garantii__item
                        img(src="../img/r.png", alt="icon")
                        .garantii__item__text ВСЕ ПРАВА ДЛЯ ОСУЩЕСТВЛЕНИЯ#[br]ОЦЕНОЧНОЙ ДЕЯТЕЛЬНОСТИ
                    .garantii__item
                        img(src="../img/chess.png", alt="icon")
                        .garantii__item__text 14 ЛЕТ НА РЫНКЕ
                    .garantii__item.pt4
                        img(src="../img/conv.png", alt="icon")
                        .garantii__item__text 32 СЕРТИФИЦИРОВАННЫХ ОЦЕНЩИКА
                    .garantii__item
                        img(src="../img/group.png", alt="icon")
                        .garantii__item__text ЧЛЕНЫ СРО#[br]“РОССИЙСКОЕ#[br]ОБЩЕСТВО ОЦЕНЩИКОВ”
                    .garantii__item
                        img(src="../img/russia.png", alt="icon")
                        .garantii__item__text 12 ПРЕДСТАВИТЕЛЬСТВ ПО ВСЕЙ РОССИИ
                    .garantii__item
                        img(src="../img/graf.png", alt="icon")
                        .garantii__item__text РЕЙТИНГИ ЭКСПЕРТ РА#[br]– 2009-2016 гг
                    .garantii__item.mt-8
                        img(src="../img/fire.png", alt="icon")
                        .garantii__item__text АККРЕДИТОВАНЫ ПО#[br]ОЦЕНКЕ  В ПАО ГАЗПРОМ
                    .garantii__item.mt-4
                        img(src="../img/euro.png", alt="icon")
                        .garantii__item__text СТРАХОВАНИЕ КОМПАНИИ БОЛЕЕ ЧЕМ НА 500 МЛН РУБ
        section.worck.container
            .title-block.worck__title
                h2.title-block__title
                    +spr('tire', 60, 4)
                    | Порядок работы:
                p.title-block__text Мы сделаем процесс оценки#[br]для вас — удобным, быстрым и точным!
            .etapi
                img.etapi__img(src="../img/etap.png", alt="pic")
                ul.etapi__list.list
                    li.list__item
                        span.list__num 1
                        span.list__text Заключаем договор
                    li.list__item
                        span.list__num 2
                        span.list__text Учтем тонкости и#[br]пожелания
                    li.list__item
                        span.list__num 3
                        span.list__text Согласуем результаты
                    li.list__item
                        span.list__num 4
                        span.list__text Подготовим#[br]отчет об оценке,
                    li.list__item
                        span.list__num 5
                        span.list__text Защитим результаты#[br]в суде, банках, налоговой
            button(type="button").btn.zayv Заказать услугу
        section.clienti
            .container
                .title-block.clienti__title
                    h2.title-block__title
                        +spr('tire', 60, 4)
                        | Нам доверили оценку:
                    p.title-block__text За 14 лет уже более 4 тыс. клиентов и партнеров!
                .clienti__container
                        .clienti__item
                            img(src="../img/logo_bryan.png", alt="logo")
                        .clienti__item
                            img(src="../img/logo_rosgos.png", alt="logo")
                        .clienti__item
                            img(src="../img/logo_gaz.png", alt="logo")
                        .clienti__item
                            img(src="../img/logo_rosnef.png", alt="logo")
                        .clienti__item
                            img(src="../img/logo_vtb.png", alt="logo")
                        .clienti__item
                            img(src="../img/logo_sber.png", alt="logo")
                        .clienti__item
                            img(src="../img/logo_rosa.png", alt="logo")
                        .clienti__item
                            img(src="../img/logo_gaza.png", alt="logo")
                        .clienti__item
                            img(src="../img/logo_mia.png", alt="logo")
                        .clienti__item
                            img(src="../img/logo_ural.png", alt="logo")
                        .clienti__item
                            img(src="../img/logo_alfa.png", alt="logo")
                        .clienti__item
                            img(src="../img/logo_veb.png", alt="logo")
                        .clienti__item.mt
                            img(src="../img/logo_sel.png", alt="logo")
                        .clienti__item.mt
                            img(src="../img/logo_gazb.png", alt="logo")
        section.about.container
            .title-block.about__title
                    h2.title-block__title
                        +spr('tire', 60, 4)
                        | О нашей компании:
                    p.title-block__text История становления
            .scheme
                img.scheme__img(src="../img/scheme-1.png", alt="scheme")
                ul.scheme__list
                    li.scheme__list__item
                        h3.scheme__list__title.y-2005-title Август 2005 года -#[br]основание компании
                        .scheme__list__text.y-2005-text Цель - сделать услуги по оценке#[br]лучшими на рынке
                    li.scheme__list__item
                        h3.scheme__list__title.y-2006-title Февраль 2006 года –#[br]сбор команды 
                        .scheme__list__text.y-2006-text отработка бизнес#[br]процессов
                    li.scheme__list__item
                        h3.scheme__list__title.y-2008-title 2008 год – вход в топ#[br]100 крупнейших#[br]оценочных компаний РФ
                        .scheme__list__text.y-2008-text Компания успешно выполнила сложнейшие#[br]проекты по оценке для:#[br]#[br]• предприятий пищевой промышленности;#[br]• предприятий связи и телекоммуникации;#[br]• предприятий оптовой и розничной торговли;#[br]• предприятий стекольной промышленности.
                    li.scheme__list__item 
                        h3.scheme__list__title.y-2009-title 2009 г. – АБК в топ 50#[br]крупнейших оценочных#[br]компаний РФ
                        .scheme__list__text.y-2009-text Компания приступила к долгосрочной программе по внедрению#[br]системы менеджмента качества ИСО 9001:2001 «Система#[br]менеджмента качества. Требования». Завершили внедрение#[br]в 2009 году.#[br]#[br]Количество банков, в которых принимают отчеты об оценке#[br]компании составляет более 70-ти. В партнерстве с крупнейшими#[br]оценочными компаниями были выполнены сложные проекты#[br]по оценке крупнейших предприятий РФ в рамках программы#[br]приватизации.#[br]За четыре с небольшим года компания признана одной из самых#[br]динамично развивающихся
                    li.scheme__list__item 
                        h3.scheme__list__title.y-2010-title 2010 – Аккредитация#[br]в ОАО “Газпром” и Банке#[br]“Возрождение”
                    li.scheme__list__item 
                        h3.scheme__list__title.y-2012-title 2012 г. – в10-ке#[br]лучших
                        .scheme__list__text.y-2012-text В результате исследования, проведенного#[br]рейтинговым агентством «ЭКСПЕРТ-РА» по итогам#[br]работы за 2012 год Компания находится на 9-м#[br]месте по объёмам оценки недвижимости в#[br]Российской Федерации.В рейтинге крупнейших#[br]компаний, работающих на российском рынке#[br]оценки наша компания заняла 18-е место
                    li.scheme__list__item 
                        h3.scheme__list__title.y-2018-title 2018 год – Стабильность#[br]и неизменное#[br]отточенное ачество!
                        .scheme__list__text.y-2018-text.
                            • Аккредитована в ПАО «НК «Роснефть»;#[br]• Рейтинг Эксперт-РА подтверждается не ниже 30-го места;#[br]• Более одной тысячи отчетов;#[br]• Охват работы по оценке и финансовому консалтингу#[br]по всей России;#[br]• 89% клиентов возвращаются к нам;#[br]• Собственное программное обеспечение (ПО) для оценки;#[br]• Высокое качество для самого требовательного клиента;#[br]• Мобильные и самые клиентоориентированные на рынке!
            button(type="button").btn.zayv Связаться с нами
        section.predstav
            .container
                .title-block.predstav__title
                        h2.title-block__title
                            +spr('tire', 60, 4)
                            | Наши представительства в России:
                        p.title-block__text Для вашего ознакомления в виде#[br]удобной интерактивной карты
                .inter-map
                    img.inter-map__img(src="../img/map.png", alt="pic map")
        section.contacts.container
            .title-block.contacts__title
                        h2.title-block__title
                            +spr('tire', 60, 4)
                            | Наши контакты:
            .contacts__block
                .contacts__data
                    .contacts__wrap
                        .contacts__name
                            img(src="../img/logo_home.png", alt="logo-home")
                            span Центральный адрес
                        .contacts__text г.Москва Электрический пер., д. 3/10, с. 3, эт. 3.
                        button(type="button").btn.contacts__btn Показать на карте
                    .contacts__wrap
                        .contacts__name
                            img(src="../img/logo_tel.png", alt="logo-tel")
                            span Главные телефоны
                        .contacts__text +7 (495) 134-47-55#[br]+7 (495) 134-47-55
                        button(type="button").btn.contacts__btn Позвонить
                    .contacts__wrap
                        .contacts__name
                            img(src="../img/logo_mail.png", alt="logo-tel")
                            span E-mail
                        .contacts__text abk@active-consult.ru#[br]#[br]
                        button(type="button").btn.contacts__btn Написать
                .contacts__map
                    #map
        footer
            .container
                .head-foot
                    .head-foot__logo ABK
                    .head-foot__menu
                        +spr('bur', '48px')(fill="#fff").menu-gamb
                        nav.menu
                            a(href="#").menu__item О компании
                            a(href="#").menu__item Отрасли
                            a(href="#").menu__item Гарантии
                            a(href="#").menu__item Схема работы
                            a(href="#").menu__item Контакты
                    .head-foot__svyz.svyz
                        .svyz__tel +7 (495) 134-47-55
                        .svyz__soc
                            a(href="#")
                                img(src="../img/whatsapp-2.png", alt="logo whatsapp").svyz_soc__logo
                            a(href="#")
                                img(src="../img/viber-2.png", alt="logo viber")
                            a(href="#")
                                img(src="../img/vk-2.png", alt="logo vk")
                            a(href="#")
                                img(src="../img/facebook-2.png", alt="facebook logo").svyz_soc__logo
                            a(href="#")
                                img(src="../img/instagram-2.png", alt="instagram logo").svyz_soc__logo
                    .head-foot__btn
                        button(type="button").btn.zayv Оставить заявку
        .modal-z
            form(action="" method="post")
                input(type="text" name='name' placeholder="Ваше имя")
                input(type="tel" name="phone" placeholder="Контактный телефон")
                input(type="email" name="mail" placeholder="Ващ E-mail")
                button(type="submit").btn Отправить
                label
                    input(type="checkbox")
                    span.modal-z__custom-select
                    |Даю согласие на обработку моих пресоональных данных
        script(defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=ec9e89fa-00e9-4108-93ba-4a505c2ece77")
        script(defer src='code.js')